<launch>
    <!-- Set to true to record-->
    <arg name="record" default="false"/>
    <!-- Turtlebot world launch file-->
    <include file="$(find turtlebot3_mover)/launch/turtlebot3_world.launch"/>

    <!-- Launch mover node-->
    <node 
        pkg="turtlebot3_mover"
        type="mover"
        name="mover"
        output="screen"
    />
    <!-- Launch rosbag node -->
    <node 
        pkg="rosbag"
        name="record"
        type="record"
        args="-a -O $(find turtlebot3_mover)/results/turtlebot3_mover.bag -x /camera/(.*)" 
        if="$(arg record)"
    />
</launch>
